.abisko {
    background-image: url("../img/abisko.jpg");
}

.abiskotop {
    background-color: rgb(210, 196, 165)
}

.abiskobot {
    background-color: rgb(26, 26, 54)
}

.banff {
    background-image: url("../img/banff.jpg");
}

.banfftop {
    background-color: rgb(128, 133, 137);
}

.banffbot {
    background-color: rgb(42, 49, 67);
}

#banff1 {
    margin-top: 350px
}

#banff2 {
    margin-top: -200px;
}

#banff3 {
    margin-top: 300px;
}

.berchtesgaden {
    background-image: url("../img/berchtesgaden.jpg");
}

.berchtesgadentop {
    background-color: rgb(98, 120, 99)
}

.berchtesgadenbot {
    background-color: rgb(32, 45, 59)
}

.catba {
    background-image: url("../img/catba.jpg")
}

.catbatop {
    background-color: rgb(119, 153, 152)
}

.catbabot {
    background-color: rgb(49, 72, 74)
}

.denali {
    background-image: url("../img/denali.jpg")
}

.denalitop {
    background-color: rgb(0, 123, 26)
}

.denalibot {
    background-color: rgb(0, 34, 12)
}

.etosha {
    background-image: url("../img/etosha.jpg")
}

.etoshatop {
    background-color: rgb(172, 140, 132)
}

.etoshabot {
    background-color: rgb(0, 77, 97);
}

.everglades {
    background-image: url("../img/everglades.jpg")
}

.evergladestop {
    background-color: rgb(128, 125, 102)
}

.evergladesbot {
    background-color: rgb(50, 48, 52)
}

#everglades1 {
    margin-top: -100px;
}

#everglades3 {
    margin-top: -100px;
}

.fiordland {
    background-image: url("../img/fiordland.jpg")
}

.fiordlandtop {
    background-color: rgb(160, 130, 60);
}

.fiordlandbot {
    background-color: rgb(82, 97, 110);
}

#fiordland1 {
    margin-top: -150px;
}

#fiordland2 {
    margin-top: 250px;
}

#fiordland3 {
    margin-top: -100px;
}

.galapagos {
    background-image: url("../img/galapagos.jpg");
}

.galapagostop {
    background-color: rgb(132, 92, 84);
}

.galapagosbot {
    background-color: rgb(34, 73, 76);
}

#galapagos1 {
    margin-top: 400px;
}

#galapagos2 {
    margin-top: 150px;
}

#galapagos3 {
    margin-top: 100px;
}

#galapagos4 {
    margin-top: 150px;
}

.goreme {
    background-image: url("../img/goreme.jpg")
}

.goremetop {
    background-color: rgb(198, 214, 224);
}

.goremebot {
    background-color: rgb(79, 61, 46);
}

.killarney {
    background-image: url("../img/killarney.jpg")
}

.killarneytop {
    background-color: rgb(151, 163, 138);
}

.killarneybot {
    background-color: rgb(59, 65, 35);
}

.oulanka {
    background-image: url("../img/oulanka.jpg")
}

.oulankatop {
    background-color: rgb(134, 145, 163)
}

.oulankabot {
    background-color: rgb(29, 29, 28);
}

.peneda-geres {
    background-image: url("../img/peneda.jpg")
}

.peneda-gerestop {
    background-color: rgb(47, 132, 151)
}

.peneda-geresbot {
    background-color: rgb(115, 79, 47)
}

.ranthambore {
    background-image: url("../img/ranthambore.jpg")
}

.ranthamboretop {
    background-color: rgb(194, 193, 192)
}

.ranthamborebot {
    background-color: rgb(106, 89, 72)
}

.sagarmatha {
    background-image: url("../img/sagarmatha.jpg")
}

.sagarmathatop {
    background-color: rgb(0, 76, 136);
}

.sagarmathabot {
    background-color: rgb(40, 36, 27);
}

#sagarmatha1 {
    margin-top: -100px;
}

#sagarmatha2 {
    margin-top: -150px;
}

#sagarmatha3 {
    margin-top: -150px;
}

.sequoia {
    background-image: url("../img/sequoia.jpg");
}

.sequoiatop {
    background-color: rgb(144, 117, 106)
}

.sequoiabot {
    background-color: rgb(37, 22, 21)
}

.serengeti {
    background-image: url("../img/serengeti.jpg");
}

.serengetitop {
    background-color: rgb(180, 171, 167);
}

.serengetibot {
    background-color: rgb(59, 29, 14);
}

#serengeti3 {
    margin-top: 100px;
}

.thingvellir {
    background-image: url("../img/thingvellir.jpg")
}

.thingvellirtop {
    background-color: rgb(123, 102, 94);
}

.thingvellirbot {
    background-color: rgb(14, 129, 180);
}

.triglav {
    background-image: url("../img/triglav.jpg")
}

.triglavtop {
    background-color: rgb(236, 234, 235)
}

.triglavbot {
    background-color: rgb(36, 38, 41)
}

.vanoise {
    background-image: url("../img/vanoise.jpg");
}

.vanoisetop {
    background-color: rgb(139, 159, 116)
}

.vanoisebot {
    background-color: rgb(106, 72, 57)
}

.vatnajokull {
    background-image: url("../img/vatnajokull.jpg");
}

.vatnajokulltop {
    background-color: rgb(77, 139, 162);
}

.vatnajokullbot {
    background-color: rgb(0, 40, 55);
}

#vatnajokull2 {
    margin-top: -2vw;
}

.yellowstone {
    background-image: url("../img/yellowstone.jpg");
}

#yellowstone2 {
    margin-top: 5vw;
}

.yellowstonetop {
    background-color: rgb(211, 161, 140);
}

.yellowstonebot {
    background-color: rgb(101, 68, 49);
}

.yosemite {
    background-image: url("../img/yosemite.jpg");
}

.yosemitetop {
    background-color: rgb(204, 173, 148)
}

.yosemitebot {
    background-color: rgb(16, 16, 12)
}

#yosemite1 {
    margin-top: -50px;
}

#yosemite2 {
    margin-top: -100px;
}

#yosemite3 {
    margin-top: 50px;
}

.zhangjiajie {
    background-image: url("../img/zhangjiajie.jpg");
}

.zhangjiajietop {
    background-color: rgb(83, 101, 92);
}

.zhangjiajiebot {
    background-color: rgb(27, 17, 19);
}

.zion {
    background-image: url("../img/zion.jpg");
}

.ziontop {
    background-color: rgb(98, 58, 38);
}

.zionbot {
    background-color: rgb(8, 8, 7);
}

#zion3 {
    margin-top: -500px;
}

#zion4 {
    margin-top: -250px;
}