@import "./config";
@import "./parks";
@import "./resets";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes staggered {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@for $i from 0 to 25 {
    #dlink#{$i} {animation-delay: .05s*$i; transform: translateX(-300px);
    }
}

.initial-drawer-link {
    transform: translateX(-300px)
}

.visible-drawer-link {
    animation: staggered .2s linear;
    animation-fill-mode: forwards;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'oswald', sans-serif;
    font-size: 16px;
    text-align: center;
}

#ham-wrapper {
    @include flexIt(row, flex-start, center);
    position: absolute;
    width: 100%;

#hamburger {
    @include flexIt(row, center, center);
    position: relative;
    z-index: 9;
    height: 75px;
    width: 75px;
    transition: .25s;
    backdrop-filter: saturate(130%) blur(10px);
    background-color: rgba($dark-color, .5);

    }
    .is-active{
        transform: translateX(100vw*.2);
    }
}

#drawer {
    position: fixed;
    height: 100vh;
    background-color: rgba($dark-color, .95);
    z-index: 9;
    overflow-x: hidden;
    transition: .25s;
    -webkit-scrollbar: $dark-color;
    &.open {
        width: 20%;
    }
    &.closed {
        width: 0;
    }
    
}

#drawer::-webkit-scrollbar-track, body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#drawer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#drawer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.drawer-link {
    @include flexIt(row, flex-start, center);
    width: 100%;
    height: 10%;
    padding: 2px;
    color: $light-color;
    border: 3px rgba($dark-color, 0) solid;
    transition: .25s;
    cursor: pointer;
    min-height: 65px;
    &:hover {
        border-color: $light-color;

        .drawer-content-wrapper {
            margin-left: 10px;
        }
    }
    .drawer-image {
        width: 25%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        margin-right: 5%;
    }
    .drawer-content-wrapper {
        @include flexIt(column, center, flex-start);
        transition: .25s;
        width: 65%;
        .drawer-title {
            font-size: $h2-size-md;
            text-transform: uppercase;
        }
        .drawer-location {
            font-size: $p-size-sm;
        }
    }
}

#controlWrapper {
    @include flexIt(row, center, none);
    position: absolute;
    width: 100%;
}

.controls {
    @include flexIt(row, space-evenly, center);
    // clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    backdrop-filter: saturate(130%) blur(10px);
    background-color: rgba($light-color, .15);
    width: 20%;
    height: 75px;
    z-index: 5;

    i {
        color: $light-color;
        font-size: $icon-med;
        transition: .25s;
    }

    div {
        @include flexIt(inherit, center, center);
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border-style: inset;
        border: 5px rgba($light-color, .5) solid;
        background-color: rgba($dark-color, .75);
        transition: .25s;
        &:hover {
            border-color: rgba($light-color, .75);
            i {
                font-size: $icon-med-hover;
            }
        }
    }
}

.left-control-tri {
    width: 75px;
    height: 75px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    backdrop-filter: saturate(130%) blur(10px);
    background-color: rgba($light-color, .15);
    z-index: 5;
}

.right-control-tri {
    width: 75px;
    height: 75px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    backdrop-filter: saturate(130%) blur(10px);
    background-color: rgba($light-color, .15);
    z-index: 5;
}

#flex-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $dark-color;

    a {
        position: relative;
        width: 20%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: .25s;
        color: $light-color;
        text-decoration: none;
        text-transform: uppercase;
        cursor: default;

        p,
        h2,
        i {
            transition: .25s
        }
    }
}

#flex-wrapper a:hover {
    width: 40%;

    h2 {
        font-size: $h2-size-lg*1.5;
        line-height: 1.1em;
        transition: .25s;
        margin: .5em 0;
    }

    p, #cirText1, #cirText2, #cirText3, #cirText4, #cirText5 {
        // font-size: $p-size-sm-hover;
        transition: .25s;
    }

    i {
        font-size: $icon-sm-hover;
        transition: .25s;
    }

    .rotating {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
    }

    .additionalInfo {
        @include flexIt(column nowrap, center, center);
        --animate-delay: .15s;
        text-shadow: 2px 2px 2px rgba(20, 20, 20, 1);

        .stat {
            font-family: 'Open Sans', sans-serif;
            font-size: $p-size-sm*.75;
        }
    }
}

#card1,
#card2,
#card3,
#card4,
#card5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.25) 0%, rgba(20, 20, 20, .5) 75%, rgba(20, 20, 20, .75) 100%);
    transition: .5s;
    z-index: 2;
    opacity: .25;
}

#flex-wrapper:hover #card1,
#flex-wrapper:hover #card2,
#flex-wrapper:hover #card3,
#flex-wrapper:hover #card4,
#flex-wrapper:hover #card5 {
    opacity: 1;
}

#flex-wrapper #card1:hover,
#flex-wrapper #card2:hover,
#flex-wrapper #card3:hover,
#flex-wrapper #card4:hover,
#flex-wrapper #card5:hover {
    opacity: 0;
}

.overlay {
    height: 100vh;
    @include flexIt(row, center, center);

    .overlay-inner {
        @include flexIt(column, center, center);
        z-index: 5;
        pointer-events: none;
        margin-top: -100px;

        #cirText1,
        #cirText2,
        #cirText3,
        #cirText4,
        #cirText5 {
            font-size: $p-size-sm;
            text-shadow: 2px 2px 2px rgba(20, 20, 20, 1);
            letter-spacing: .1rem;
            height: 1.5vw;
        }

        .natPark {
            @include flexIt(row, center, center);
            font-size: $p-size-sm;
            i {
                font-size: $p-size-sm*.5;
            }

            i:nth-child(1) {
                margin-right: 4px;
            }
        }

        h2 {
            font-size: $h2-size-lg;
            line-height: 3vw;
            letter-spacing: 3px;
            transform: scaleY(1.3);
            margin: .5em 0;
            text-shadow: 2px 2px 4px rgba(20, 20, 20, .75);
        }

        p {
            letter-spacing: .2rem;
            text-shadow: 2px 2px 4px rgba(20, 20, 20, .75);
        }

        i {
            text-shadow: 0 0 5px rgba(20, 20, 20, 1);
        }
    }
}

.additionalInfo {
    border: rgba(255, 255, 255, .375) 1px solid;
    background-color: rgba(20, 20, 20, .5);
    width: 80%;
    padding: 4.5%;
    display: none;
    position: absolute;
    margin-top: 600px;
    line-height: 2;
    text-transform: initial;
    --animate-delay: .15s;
    backdrop-filter: saturate(130%) blur(10px);

    .statWrap {
        @include flexIt(initial, space-between, center);
        width: 100%;
        letter-spacing: 1px;
    }

    .statName {
        text-align: left;
        text-transform: uppercase;
        width: 25%;
        font-size: $p-size-sm*.85;
    }

    .stat {
        width: 75%;
        text-align: right;
        font-size: $p-size-sm*.75;
    }
}

.not-selected {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
    width: 0px !important;
}

.selected {
    position: absolute;
    width: 100% !important;
    z-index: $controls-z;

    #card1,
    #card2,
    #card3,
    #card4,
    #card5 {
        opacity: 0;
        display: none;
    }

    .overlay-inner {
        transition: .5s;
        margin-top: -25%;

        h2 {
            font-size: $h2-size-lg*1.5;
            transition: .25s;
            line-height: 5vw;
        }

        p {
            line-height: .75vw;
            transition: .25s;
        }

        i {
            font-size: $icon-sm;
            transition: .25s;
        }
    }

    .additionalInfo {
        max-width: 32.5%;
        @include flexIt(column nowrap, center, center);
        text-shadow: 2px 2px 2px rgba(20, 20, 20, 1);
        transition: .5s;
        padding: 1.5%;
        margin-bottom: 5%;

        .stat {
            font-family: 'Open Sans', sans-serif;
            transition: .5s;
        }
    }
}

#page-controls {
    @include flexIt(column, space-between, center);
    position: absolute;
    height: 100%;
    width: 100%;

    #back-arrow {
        @include flexIt(row, flex-start, flex-start);
        width: 100%;
        font-size: $icon-lg;
        color: $light-color;
        padding: 3%;
        text-shadow: 0 0 5px rgba(20, 20, 20, 1);

        i {
            transition: .25s;
            cursor: pointer;
        }

        & i:hover {
            transform: scale(1.15);
        }
    }

    #down-arrow {
        @include flexIt(row, center, center);
        width: 100%;
        height: 10%;
        font-size: $icon-lg;
        color: $light-color;
        padding: 3%;

        i {
            transition: .25s;
            cursor: pointer;
            text-shadow: 0 0 5px rgba(20, 20, 20, 1);

        }

        & i:hover {
            font-size: $icon-lg-hover;
        }
    }
}

.not-visible {
    opacity: 0;
    z-index: 0;
    transition: opacity .25s;
}

.visible {
    opacity: 1;
    z-index: $controls-z;
    transition: opacity .25s;
}

.not-displayed {
    display: none;
}

.displayed {
    display: flex;
}

#slideshow-wrapper {
    @include flexIt(row, center, space-between);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#topClip {
    position: absolute;
    @include flexIt(row, center, flex-end);
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 66%);
    transform: rotate(2deg);
    background-image: url('../img/smooth-wall-dark.png');
    width: 110%;
    height: 20%;
    margin-top: -3%;
    transition: .25s;
    z-index: 9;
    border: $light-color 10px solid;
}

#nav-text-counterweight {
    height: 50px;
    width: 10%;
}

#nav-text-wrapper {
    z-index: 0;
    @include flexIt(row, center, center);
    height: 50px;
    width: 10%;
    transition: .25s;
    background: $light-color;

    #nav-text {
        transition: .25s;
        z-index: 0;
    }
}
.hide-nav-text-bg {
    transform: translateX(-100%);
}
.show-nav-text-bg {
    transform: translateX(0%);
}

#slideshow {
    width: 100%;
    height: 150vh;
    position: absolute;
    transform: rotate(2deg);
    border: 20px solid $light-color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .view-loaded {
        position: absolute;
        width: 110%;
        height: 100%;
        border-left: 10px $light-color solid;
        border-right: 10px $light-color solid;
        display: flex;
        align-items: center;
        z-index: 3;

        div {
            @include flexIt(row, center, center)
        }

        img {
            width: 100%;
            // height: auto;
            margin: 0;
        }

        #slides {
            position: relative;
            width: 80%;
            height: 500px;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }

        .slide {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            min-height: 500px;
            height: 100%;
            opacity: 0;
            z-index: 9;

            -webkit-transition: opacity 1s;
            -moz-transition: opacity 1s;
            -o-transition: opacity 1s;
            transition: opacity 1s;
        }

        .showing {
            opacity: 1;
            z-index: 2;
        }


        .controls {
            display: none;
        }
    }
}

#slideshow-overflow {
    @include flexIt(row, center, center);
    overflow: hidden;
}

#view-loaded>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// .slide {
//     position: absolute;
// }

.ss-buttons {
    // display: flex;
    @include flexIt(row, center, center);
    z-index: $controls-z;
    padding: 20px;
    border: 5px $light-color solid;
    border-bottom: none;
    background-image: url('../img/smooth-wall-dark.png');

    div {
        @include flexIt(row, center, center);
        border: 3px $light-color solid;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 10px;
        transition: .25s;

        i {
            color: $light-color;
            font-size: $icon-sm;
            text-shadow: 0px 0px 0px rgba(20, 20, 20, 1);
        }

        &:hover {
            background: none;
        }
    }

    a {
        text-decoration: none;
    }
}

#botClip {
    position: absolute;
    transform: rotate(2deg);
    background-image: url('../img/smooth-wall-dark.png');
    width: 110%;
    height: 20%;
    top: 87%;
    transition: .25s;
    z-index: 9;
    border: $light-color 10px solid;
    div {
        @include flexIt(row, center, center);
        margin-top: -32px;
    }
    p {
        text-transform: uppercase;
        color: $light-color;
        font-size: $p-size-lg;
        letter-spacing: 7px;
        margin-top: -42px;
    }
    #park-label {
        text-transform: uppercase;
        font-weight: bold;
        z-index: 10;
        color: $light-color;
        font-size: $h2-size-lg*2;
        letter-spacing: 7px;
    }
}

@media screen and (max-width: 800px) {
    #flex-wrapper {
        @include flexIt(column, center, flex-start);

        a {
            width: 100%;
            height: 20%;
        }
        &:hover {
            width: 100%;
        }
    }

    #controlWrapper {
        display: none;
    }

    .overlay {
        height: 100%;
        @include flexIt(column, flex-start,center);
        margin-top: 140px;
    }

    #flex-wrapper a:hover {
        height: 40%;
        width: 100%;
        h2 {
            font-size: $h2-size-lg*1.5;
            line-height: 1.1em;
            transition: .25s;
            margin: .5em 0;
        }
    
        p, #cirText1, #cirText2, #cirText3, #cirText4, #cirText5 {
            // font-size: $p-size-sm-hover;
            transition: .25s;
        }
    
        i {
            font-size: $icon-sm-hover;
            transition: .25s;
        }
    
        .rotating {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
        }
    
        .additionalInfo {
            @include flexIt(column nowrap, center, center);
            --animate-delay: .15s;
            text-shadow: 2px 2px 2px rgba(20, 20, 20, 1);
    
            .stat {
                font-family: 'Open Sans', sans-serif;
                font-size: $p-size-sm*.75;
            }
        }
    }
}
